.category__item {
  background: #fde4e4;
  padding: 30px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.category__item:hover {
  transform: translate(-15px);
}

@media only screen and (max-width: 576px) {
  .category__service {
    padding: 20px 15px;
  }

  .category__img img {
    width: 40px;
    height: 40px;
  }

  .category__item h6 {
    font-size: 0.8rem;
  }
}
