.common__section {
  background: linear-gradient(#666783, #818199),
    url("../assets/images/hamburger.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  padding: 80px 0px;
}
